.course-info__link {
    font-size: 1.2rem;
    color: var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    background-color: rgba(43, 206, 86, 0.2);
  }
  
  .course-info__title {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 2.4rem;
    color: #464749;
  }
  
  .course-info__text {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #7b868a;
  }
  
  .course-info__social-media-item {
    color: #b1bbbf;
    margin-left: 1.7rem;
    transition: all 400ms ease;
  }
  
  .course-info__icon {
    font-size: 2rem;
  }
  
  .course-info__video {
    width: 100%;
    border-radius: 1rem;
  }
  